<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <a href="/new">Post New Message</a>
    <% messages.map((message, index) => { %>
    <p>User: <%= message.user %><br />Message: <%= message.text %><br />Timestamp: <%= message.added %></p>
    <form action="message/<%= index %>">
      <input type="submit" value="Open" />
    </form>
    <% }) %>
  </body>
</html>
